.main {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.img-container {
    width: 65%;
    margin: auto;
    text-align: center;
    background-size: 50% !important;
    height: 250px;
    position: relative;
    margin-top: 0px;
}

.main-img {
    width: 300px;
    margin-top: 5px;
}

.left-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 140px;
    margin-left: -30px;
}

.right-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 140px;
    margin-left: 0px;
}

.user-info {
    background-color: aquamarine;
    height: 300px;
    width: 30%;
    margin-left: 5%;
    border-radius: 10px;
    margin: auto;
}

.user-info-parameter {
    margin-top: 50px;
    margin-left: 5%;
    font-size: 18px;
}


.logout-button-div {
    text-align: center;
}

.login-button {
    width:30%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #FFB600;
    border: 0px;
}

.reset-button {
    width: 20%;
    margin-bottom: 20px;
}

@media screen and (max-width:900px) {
    .img-container {
        width: 100%;
        margin-top: 30px;
    }

    .user-info {
        width: 50%;
    }

    .reset-button {
        width: 40%;
    }
}

@media screen and (max-width:400px) {
    .main-img {
        width: 250px;
    }
}

@media screen and (max-width:700px) {
    .user-info {
        width: 80%;
    }
}